$title-fonts: 'Work Sans', Helvetica, Arial, sans-serif;
$nav-fonts: 'Century Gothic', Helvetica, Arial, sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
}

//universal header styles

h1 {
  margin: 0;
}

#mobile {
  display: none;
  background-color: #efefef;
  height: 100vh;
  width: 100vw;
  padding: 30vh 10% 0;
  text-align: center;
  h1 {
    font-family: $title-fonts;
    font-weight: 200;
    font-size: 3rem;
    color: #777;
  }
}

.title {
  display: inline-flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  .greet {
    color: #fff;
    font-family: $title-fonts;
    font-size: 25vh;
    font-weight: 100;
    line-height: .71;
    text-align: left;
  }
}

.nav-container {
  float: right;
  height: 100vh;
  width: 150px;
  margin-right: -100px;
  .nav-menu {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    a {
      color: #eee;
      text-decoration: none;
    }
    .nav-item {
      transition-duration: 0.3s;
      font-family: $nav-fonts;
      line-height: 1;
      width: 250px;
      padding: auto;
      border-radius: 2px;
      &:hover {
        transform: translateX(-125px);
        transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
        background-color: rgba(162, 177, 112, .6);
      }
      i {
        display: inline-block;
        font-size: 30px;
        margin: 10px;
      }
      .fa-user {
        margin-left: 15px;
      }
      p {
        display: inline-block;
        font-size: 1.5em;
      }
    }
  }
}

@keyframes down-scroll {
  from {bottom: .5em;}
  to: {bottom: 0em;}
}

.scroll {
  position: absolute;
  bottom: .5em;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  font-size: 3em;
  text-align: center;
  color: #fff;
  a {
    color: inherit;
    text-decoration: none;
    &:hover{
      cursor: pointer;
    }
  }
  i {
    &:hover {
    animation-name: down-scroll;
    animation-duration: .3s;
    }
  }
}

//media queries
@media only screen and (max-width: 860px) {
  body {
    overflow: hidden;
  }
  #mobile {
    display: block;
  }
  .scroll {
    display: none;
  }
}
