@import '_utilities';

header {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(125, 125, 125, 0.4), rgba(0, 0, 0, 0)),
    url(../../images/dude-tiny.jpg) no-repeat fixed center top;
  background-size: cover;
  overflow-x: hidden;
}

.nav-container {
  .nav-menu {
    a {
    }
    .nav-item {
      &:hover {
        background-color: rgba(46,62,95,.6);
      }
    }
  }
}
