@import '_utilities';

header {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(125, 125, 125, 0.4), rgba(0, 0, 0, 0)),
    url(../../images/dude-tiny.jpg) no-repeat fixed center top;
  background-size: cover;
  overflow-x: hidden;
}

.nav-container {
  .nav-menu {
    a {
    }
    .nav-item {
      &:hover {
        background-color: rgba(46,62,95,.6);
      }
    }
  }
}

//content

.main-content {
  text-align: center;
  width: 100%;
  background-color: rgb(129, 139, 159);
  padding: 2rem 0;
}

#profile-image {
  border-radius: 50%;
  max-width: 150px;
}

hr {
  width: 10rem;
  margin: 0 auto 1.5rem;
}

.introduction, .resume-section {
  font-family: $nav-fonts;
  color: #eee;
  padding: 0 20%;
  h2 {
    font-size: 3em;
    font-weight: 100;
  }
  h3 {
    font-size: 1.75em;
    font-weight: 100;
  }
  h4 {
    font-size: 1.25em;
    font-weight: 100;
  }
  .exposition {
    margin: 1.5rem 0;
  }
}

//resume

.resume-section {
  text-align: left;
  margin: 1rem;
}

.skill-titles, .skill-list {
  margin: .5rem;
  li {
    margin: .25rem;
    &:before {
      content:"\25BF \0020"
    }
  }
}

.skill-list {
  list-style-type: none;
}
