@import '_utilities';

header {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, .4), rgba(0, 0, 0, 0)),
    url(../../images/contact-tiny.jpeg) no-repeat fixed center top;
  background-size: cover;
  overflow-x: hidden;
}

.nav-container {
  .nav-menu {
    a {
    }
    .nav-item {
      &:hover {
        background-color: rgba(237,58,114,.4);
      }
    }
  }
}

//content

.main-content {
  text-align: center;
  width: 100%;
  background-color: rgba(134, 0, 66, .8);
  padding: 2rem 0;
  font-family: $nav-fonts;
  color: #eee;
  h2 {
    font-size: 3em;
    font-weight: 100;
  }
}

hr {
  width: 10rem;
  margin: 0 auto 2rem;
}

//contact form

::-webkit-input-placeholder {
   font-style: italic;
}

fieldset {
  border: none;
}

fieldset * {
  width: 30%;
  min-width: 15rem;
  font-family: inherit;
  border-radius: 2px;
  padding: 0.25rem 0.5rem;
  border: 2px solid transparent;
  margin: 0.5rem;
  &:focus {
    box-shadow: inset -2px 2px 10px rgba(0,0,0,.2);
    transition-duration: 0.2s;
    &::-webkit-input-placeholder {
      color: transparent;
    }
  }
  &:last-child {
    font-style: normal;
  }
}
