@import '_utilities';

header {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0)),
    url(../../images/desk2-tiny.jpeg) no-repeat fixed center top;
  background-size: cover;
  overflow-x: hidden;
}

.nav-container {
  .nav-menu {
    a {
    }
    .nav-item {
      &:hover {
        background-color: rgba(162, 177, 112, .6);
      }
    }
  }
}
