@import '_utilities';

header {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0)),
    url(../../images/desk2.jpeg) no-repeat fixed center top;
  background-size: cover;

}

.title {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;
  .greet {
    color: #fff;
    font-family: $font-stack;
    font-size: 25vh;
    font-weight: 100;
    line-height: .71;
    text-align: left;
  }
}
