@import '_utilities';

.nav-container {
  float: right;
  height: 100vh;
  width: 150px;
  margin-right: -100px;
  .nav-menu {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    a {
      color: #eee;
      text-decoration: none;
    }
    .nav-item {
      transition-duration: 0.3s;
      font-family: $nav-fonts;
      line-height: 1;
      width: 250px;
      padding: auto;
      border-radius: 2px;
      &:hover {
        transform: translateX(-125px);
        transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
        background-color: rgba(162, 177, 112, 0.6);
      }
      i {
        display: inline-block;
        font-size: 30px;
        margin: 10px;
      }
      .fa-user {
        margin-left: 15px;
      }
      p {
        display: inline-block;
        font-size: 1.5em;
      }
    }
  }
}
