@import '_utilities';

header {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0)),
    url(../../images/work-it-tiny.jpeg) no-repeat fixed center top;
  background-size: cover;
  overflow-x: hidden;
}

.nav-container {
  .nav-menu {
    a {
    }
    .nav-item {
      &:hover {
        // background-color: rgba(106,149,129,.6);
        background-color: rgba(204,158,46,.4);
      }
    }
  }
}

//content

.main-content {
  text-align: center;
  width: 100%;
  background-color: rgba(224, 182, 70, 0.8);
  padding: 2rem 0;
  font-family: $nav-fonts;
  color: #eee;
  h2 {
    font-size: 3em;
    font-weight: 100;
  }
  h3 {
    margin-bottom: .5em;
  }
}

hr {
  width: 10rem;
  margin: 0 auto 2rem;
}

//project list

.projects {
  width: 100%;
  margin: 0 auto;
  h2 {
    color: #555;
  }
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  div {
    position: relative;
    max-width: 20em;
    min-width: 200px;
    margin: 1rem auto;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 2px;
    img {
      max-width: 100%;
      vertical-align: bottom;
    }
  }
}

.project-overlay {
  position: absolute;
  color: transparent;
  font-size: 125%;
  text-align: center;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: .25em;
  p {
    color: inherit;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #eee;
    transition-duration: 0.4s;
  }
}
